# Python
__pycache__/
*.pyc

# Environment
.env

# Virtual environments
.venv/
venv/

# VS Code
.vscode/

# Google OAuth secrets
credentials.json
token.json

# Local RAG documents
documents/

# Chroma database
chroma_db/

# LangChain persistent memory
langchain_memory.db*

# LangGraph persistent memory
langgraph_memory.db*